html{
    /* background-color: #224362; */
    /* background-image: radial-gradient(circle at 50% 50%, #107282, #234161) !important; */
}
body{
    margin-top: 0px;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: white;
    /* background-image: url("/ToDoList_1920x1080.jpg"); */
    /* background-image: radial-gradient(circle at 50% 50%, #107282, #234161) !important; */
}
#display-events{
    /* background-color:whitesmoke; */
    width: 55vw;
    font-size: 30px;
    color:rgb(56, 56, 56);
    float: right;
    margin-right: 4vw;
    margin-top: 3vw;
    text-align: left;
    
}
h4{
    margin: 0px;
    border-width: 3px;
    /* border-bottom:dotted ; */
}
h3{
    margin: 0px;
    margin-top: 50px;
    /* border-top:dotted ; */
}


.single-day-events{
    /* border-style:dotted; */
    border-width: 3px;
    border-color: rgb(88, 88, 88);
}
#event-form{
    background-color:whitesmoke;
    width: 20vw;
    margin-left: 4vw;
    font-size: 30px;
    color:rgb(56, 56, 56);
    margin-top: 4vw;
    margin-bottom: 4vw;
    text-align: center;
    border-style: dashed;
    border-width: 3px;
    border-color: rgb(88, 88, 88);
    display: inline-block;
}
input{
    background-color: azure;
    border-radius: 3px;
    margin: 10px;
}
#date{
    height: 20px;
    width: 10vw;
    text-align: center;
}
#header{
    height: 25px;
    width: 12vw;
}
#description{
    width: 17vw;
    height: 8vw;
}
#submit{
    font-size: 1.5vw;
    border-style: outset;
    border-color: gray;
    border-width: 4px;
}
#submit:active{
    border-style: inset;
    border-width: 4px;
}
#logoutButton{
    font-size: 20px;
    border-style: outset;
    border-color: gray;
    border-width: 4px;
    display: inline-block;
    margin-top: -100px;
    margin-left: 5vw;
}
#logoutButton:active{
    border-style: inset;
}

#login-form{
    background-color:whitesmoke;
    width: 20vw;
    margin-left: 4vw;
    font-size: 30px;
    color:rgb(56, 56, 56);
    margin-top: 4vw;
    margin-bottom: 4vw;
    text-align: center;
    border-style: dashed;
    border-width: 3px;
    border-color: rgb(88, 88, 88);
    display: inline-block;
}
#form_to_SignUp{
    font-size: 20px;
    border-style: outset;
    border-color: gray;
    border-width: 4px;
    display: inline-block;
    margin-top: 5px; 
    margin-left: 5vw;
    
}
#form_to_SignUp:active{
    border-style: inset;
}
#signup-form{
    background-color:whitesmoke;
    width: 20vw;
    margin-left: 4vw;
    font-size: 30px;
    color:rgb(56, 56, 56);
    margin-top: 4vw;
    margin-bottom: 4vw;
    text-align: center;
    border-style: dashed;
    border-width: 3px;
    border-color: rgb(88, 88, 88);
    display: inline-block;
}
.header{
    background-image: radial-gradient(circle at 50% 50%, #107282, #234161) !important;
    height: 190px;
    margin-right: -5vw;
    margin-left: -5vw;
    border: none;
}
.h1-header{
    text-align: center;
    font-size: 55px;
    color: #e0e0e0;
    margin-top: -120px;
}
.h2-header{
    text-align: center;
    margin-top: -25px;
    color: #c0c0c0;
}
#weather{
    float: right;
    border: none;
    margin-top: -120px;
    display: block;
    margin-right: 6vw;
    font-size: 20px;
}
#location{
    border: none;
    margin: 0px;
}
#weather-description{
    border: none;
    margin: 0px;

}
#temp{
    margin: 0px;
}
.img-weather{
    width: 60px;
    height: 60px;
    margin-right: 16%;
    float: right;
    border: none;
    margin-top: -110px;
    display: block;

}

.logo-img{
    background-image: url("/Coat_Of_Arms_of_Stryi.png");
    background-size: contain;
    margin-right: 0px;
    width: 87px;
    height: 120px;
    display:inline-block;
    margin-top: 25px;

    margin-left: 7vw;

}

.footer{
    background-color: gold;
}